{% extends 'blog/base.html' %}
{% block content %}
    <article>
        <h2>{{ post.title }}</h2>
        <p>by {{ post.author }} on {{ post.published_date|date:"F d, Y" }}</p>
        <p>{{ post.content }}</p>
        {% if user.is_authenticated and user == post.author %}
            <a href="{% url 'blog_update' pk=post.pk %}">Edit</a>
            <a href="{% url 'delete' pk=post.pk %}">Delete</a>
        {% endif %}
    </article>

    {% for comment in comments %}
    {% if user.is_authenticated and user == comment.author %}
        <div class="flex space-x-2 mt-2">
            <a href="{% url 'comment_update' post_pk=post.pk pk=comment.pk %}" class="text-blue-500 hover:underline text-sm">Edit</a>
            <a href="{% url 'comment_delete' post_pk=post.pk pk=comment.pk %}" class="text-red-500 hover:underline text-sm">Delete</a>
        </div>
    {% endif %}
{% endblock %}